.container{
    width: 40%;
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
}

.middle_content{
    height: 100%;
    max-height: 28.5rem;
    overflow-y: auto;
}