/* .container{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;

    border: 1px solid red;
} */

.container{
    display: flex;
    flex-wrap: wrap;

    margin-top: 1rem;
    margin-bottom: 2rem;

}

.first_section{
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
}

.first_section button{
    line-height: 50%;
    margin-top: 1rem;
    margin-left: 1rem;
    font-weight: 600;
}

.data{
    width: 65%;
}

.data h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.data p{
    margin-top: 0.5rem;
}

.data button{
    cursor: pointer;
    border: 1px solid #cccc;
    border-radius: 5px;
    height: 2rem;
    background: transparent;
}

.stats{
    display: flex;
    flex-direction: row;    
}

.stats p{
    margin-right: 1rem;
    font-weight: 500;
    font-family: Times, serif;
}