.container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.box{
    outline-style: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    height: 80%;
    background-color: #fff;
    box-shadow: 0px 0px 10px #ccc;
}