.profile_img {
    margin-left: 5rem;
    height: auto;
    width: 200px;
}

.profile_img input {
    display: none;
}

.profile_img img{
    width: 150px;
    height: 150px;
    margin-left: 1rem;
    border-radius: 50%;

    cursor: pointer;
}