.container{
    width: 68%;
    margin: auto;
    border-top: 1px solid #cccc;
    margin-top: 1rem;
    padding-top: 1rem;
}

.posts{
    display: flex;
    flex-wrap: wrap;
    flex-flow: wrap row;
    justify-content: space-between;
    width: 100%;
    max-height: 280px;
    overflow-y: auto;
}

.post{
    width: 300px;
    height: 240px;
    margin-bottom: 1.5rem;
}

.post img{
    cursor: pointer;
    width: 100%;
    height: 100%;
}