.profile_section_container{
    border-bottom: 1px solid #cccc;
    width: 68%;
    margin: auto;
    margin-top: 2rem;
    height: 250px;

    display: flex;
    flex-direction: row;
}

.profile_section_container__data {
    margin-left: 4rem;
}

.profile_section_container__data__section1,
.profile_section_container__data__section2 {
    display: flex;
    flex-direction: row;
}


.profile_section_container__data__section2__item{
    margin-right: 2rem;
    margin-top: -1rem;
    display: flex;
    flex-direction: row;
}

.profile_section_container__data__section2__item p{
    font-weight: 500;
    font-family: Times, serif;
}

.profile_section_container__data__section3__item p{
    margin-top: -0.5rem;
}

.profile_section_container__data h2{
    margin-top: 0.2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.profile_section_container__data button{
    cursor: pointer;
    border: 1px solid #cccc;
    border-radius: 5px;
    height: 2rem;
    margin-left: 1rem;
    background: transparent;
}