.container{
    height: 3rem;
    border: none;
    border-top: 1px solid rgb(224, 224, 224);
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    margin: auto;
    padding: 1rem;
    width: calc(100% - 2rem);
}

.container textarea{
    width: 80%;
    height: 100%;
    border: none;
    resize: none;
    padding: 0;
    outline-style: none;
    margin: 0.1rem;
}

.container button{
    width: 20%;
    height: 100%;
    border: none;
    background: white;
    color: #0095f6;
    font-weight: 600;
    cursor: pointer;
    padding-right: 0.4rem;    
}

.container button:disabled{
    color: #92d2fd;
    cursor: default;
}
