.container{
    display: flex;
    margin: auto;

    width: 100%;
    max-width: 930px;

    margin-top: 6rem;

    min-height: 500px;
    height: auto;

    background: white;
    border: 1px solid #ccc;
}

.options{
    border-right: 1px solid #ccc;
    width: 15rem;
}

.options ul{
    list-style: none;
    padding: 0;
}

.options ul li{
    height: 2rem;
    text-align: justify;
    margin: 1rem;
}

.options ul li a{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}

.content{
    width: 100%;
}


.active{
    font-weight: 600;
}

.alert_section{
    width: 100%;
    max-width: 930px;
    margin: auto;
    margin-top: 1rem;
}

