.container{
    display: flex;
    margin: auto;

    width: 100%;
    max-width: 930px;

    margin-top: 6rem;

    min-height: 500px;
    height: auto;

    background: white;
    border: 1px solid #ccc;
}

.options{
    border-right: 1px solid #ccc;
    width: 15rem;
}

.options ul{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.options ul li{
    height: 2.5rem;
    text-align: justify;
    padding-left: 1rem;
    padding-top: 1rem;
    border-left: 3px solid gray;
}

.options ul li a{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}

.content{
    width: 100%;
}


.active{
    font-weight: 600;
    border-left: 3px solid #0095f6;
}

.link{
    height: 2.5rem;
    text-decoration: none;
    padding-left: 0.6rem;
    padding-top: 1rem;

    font-family: sans-serif;

    color: black;
}

