.link {
  padding: 5px;
  cursor: pointer;
  border-bottom: 1px solid #cccc;
  height: 2rem;
  line-height: 2rem;
}

.link a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

:link {
  color: blue;
}

.link::selection .options {
  display: none;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: 2px;
}

.avatar:hover {
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
} 

.options {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.2);
  z-index: 1;
  background-color: white;
}

.options a, span {
  color: black;
  text-decoration: none;
  text-align: center;
  display: block;
}

.options .link:hover{
  background-color: #fafafa;
}

.border {
  border: 2px solid gray;
}

.dropdown:hover .options {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
