.container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.box {
  border-radius: 4%;
  outline-style: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 33%;
  width: 28%;
  background-color: #fff;
  box-shadow: 0px 0px 10px #ccc;
}

section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.title,
.upload,
.delete{
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #ccc;
  width: 100%;
  justify-content: center;
}

.title p,
.upload label,
.delete p,
.cancel p{
  font-family: sans-serif;
  font-weight: bold;
}

.title p{
  padding-bottom: 0.5rem;
}

.upload{
  height: 3rem;
  line-height: 3rem;
}

.upload label{
  color: #0095f6;
  cursor: pointer;
}

.upload input{
  display: none;
}

.delete p{
  color: #f00;
}

.upload,
.delete,
.cancel{
  cursor: pointer
}

section .row h3,
section .row p{
  font-family: sans-serif;
}