.container {
  margin: auto;
  text-align: center;
}

.container img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  cursor: default;
  margin: auto;
  border: 2px solid #ccc;
  padding: 0.3rem;
}