
@font-face {
  font-family: 'Billabong';
  font-style: normal;
  font-weight: normal;
  src: url('../../assets/fonts/Billabong.woff');
}

header {
  align-items: center;
  border-bottom: 1px solid rgba(243, 243, 243, 0.8);
  display: flex;
  height: 1.2rem;
  justify-content: space-between;
  margin: auto;
  margin-top: 2rem;
  width: 68%;
}

.logo {
  font-family: 'Billabong';
  font-weight: 300;
  margin-bottom: 3rem;
  color: black;
}

.buttons{
  display: flex;
  flex-direction: row;
}

.logo:hover{
  cursor: pointer;
}

.input_search {
  border: none;
  border-radius: 0.5rem;
  border: 1px solid #cccc;
  padding: 0.5rem;
  height: 10px;
  width: 12rem;
  font-size: 1rem;
  margin-bottom: 2rem;
  margin-left: 4rem;
  color: gray;
}

.input_search:focus {
  outline: none;
  border: 1px solid gray;
}

