
@font-face {
  font-family: 'Billabong';
  font-style: normal;
  font-weight: normal;
  src: url('../../assets/fonts/Billabong.woff');
}

header {
  background: white;
  border-bottom: 1px solid #ccc;
  width: 100% !important;
  height: 4rem;
}

header .navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 900px;
  margin: auto;
  height: 100%;
}

.navbar h1 {
  font-family: 'Billabong';
  font-weight: 300;
  color: black;
  line-height: 50%;
}

.buttons{
  display: flex;
  flex-direction: row;
  padding-top: 0.5rem;  
}

.logo:hover{
  cursor: pointer;
}

.input_search {
  border: none;
  border-radius: 0.2rem;
  border: 1px solid #cccc;
  height: 2rem;
  width: 16rem;
  font-size: 1rem;
  margin-top: 0.8rem;
  color: black;
  background-color: #fafafa;
}

.input_search:focus {
  outline: none;
  border: 1px solid gray;
}

